.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  min-width: 360px;
  width: calc((100% - 2 * 24px) / 3);
  transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
